fastapi
uvicorn
python-dotenv
pydantic
pydantic-settings
requests
edge-tts
aiofiles
chromadb
sentence-transformers
nltk
pydub
playwright
playwright-stealth
gunicorn
geopy
timezonefinder
python-multipart
